# Private package registry for @17sierra scope
@17sierra:registry=https://us-east1-npm.pkg.dev/dev-tools-475316/seventeensierra-npm/
//us-east1-npm.pkg.dev/dev-tools-475316/seventeensierra-npm/:always-auth=true
